<footer class="bg-dark pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<!-- Widget 1 END -->

		</div><!-- Row END -->

		<!-- Tops Links -->
		<div class="row mt-5">
			<h5 class="mb-2 text-white">Menu</h5>
			<ul class="list-inline text-primary-hover lh-lg">
				<li class="list-inline-item"><a routerLink="/home" class="text-muted">HOME</a></li>
        <li class="list-inline-item"><a routerLink="/contact" class="text-muted">contact us</a></li>
				<li class="list-inline-item"><a routerLink="/sign-up" class="text-muted">sgin up</a></li>
<!-- 				<li class="list-inline-item"><a href="#" class="text-muted">About</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Contact us</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Blogs</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Services</a></li> -->
			</ul>
		</div>

		<!-- Payment and card -->
		<div class="row g-4 justify-content-between mt-0 mt-md-2">

			<!-- Payment card -->
			<div class="col-lg-3">
				<!-- logo -->
				<a href="index.html">
					<img class="h-40px" src="{{lien+coordinate.logo_light}}" alt="logo">
				</a>
				<p class="mb-2"><a href="#" class="text-muted text-primary-hover"><i class="bi bi-telephone me-2"></i>{{coordinate.phone}}</a> </p>
				<p class="mb-0"><a href="#" class="text-muted text-primary-hover"><i class="bi bi-envelope me-2"></i>{{coordinate.e_mail}}</a></p>
        <p class="mb-0"><a href="#" class="text-muted text-primary-hover"><i class="bi bi-geo-alt me-2"></i>{{coordinate.adress}}</a></p>

			</div>

			<!-- Social media icon -->
			<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
				<h5 class="text-white mb-2">Follow us on</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="{{coordinate.facebook}}"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="{{coordinate.instagram}}"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="{{coordinate.twitter}}"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="{{coordinate.linkedin}}"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
			</div>
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<!-- copyright text -->
					<div class="text-muted text-primary-hover"> made with love <i class="bi bi-heart text-danger me-2"></i> nawel said - <a href="https://www.nachdit.com/" class="text-muted">NACHD_IT</a>. </div>
					<!-- copyright links-->
				</div>
			</div>
		</div>
	</div>
</footer>
